<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressão de PDF</title>
</head>
<body>
    <h1>Documento PDF</h1>
    <a href="{{ url_for('download') }}">Baixar PDF</a>
    <br>
    <a href="{{ url_for('print_document') }}">Imprimir PDF</a>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>